[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beets = "*"
Unidecode = "*"
traktor-nml-utils = {git = "https://github.com/16pierre/traktor-nml-utils.git", editable = true, ref = "qp/fix_3.4"}

[requires]
python_version = "3.9.1"

[scripts]
scan = "python scanner.py"
sync = "python main.py"
import = "python import_utils.py"
