[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beets = "*"
traktor-nml-utils = "==2.0.6"
Unidecode = "*"

[requires]
python_version = "3.8"

[scripts]
scan = "python scanner.py"
sync = "python main.py"
